#cabezera{
  margin-top: 30px;
  background-color:#154360;
  height: 70px;
}

#img{
  margin-top: 17px;
  margin-left: 22px;
}

#menu{
  margin-left: 390px;
margin-top: -19px;
}
#menu3{
  margin-left: 50px;

}
a{
  color: white;
  /* quita el subrrayado */
  text-decoration: none;
}

#fondo1{
  margin-top: 2px;
  display: block;
  position: relative;
}

#texto{
  background-color: white;
  display: block;
  position: absolute;
  bottom: 200px;
  left: 100px;
  padding: 100px;
  width: 400px;
  font-family: Arial;
  font-size: 30px;

}

#img2{
  margin-top: 100px;
  margin-left: 92px;
}

.container{
  margin-left: 950px;
  margin-top: -400px;
}

#contratarseguro{
  background-color: #154360;
  margin-top: 50px;
  color: white;
  height: 70px;

}

#contratar{
  font-size: 30px;
  text-align: center;
  margin-top: 10px;  
}

#separador{
  margin-top: 30px;
  background-color: white;
  height: 98px;
  color: white;
}
