*{
  box-sizing: border-box;
}
html{
  font-size: 20px;
}
body{
  margin: 0;
  background: white;
}

.main-header{
  height: 84px;
  width: 100%;
  background-color: transparent;
  padding: 15px 20px;
  position: static;
  background-color:black;
 border: 1px solid green;
 border-left: 0;
}

.logo-navigation_menu{
  height: 50px;
}

.items-navigation_menu{
  display: inline-block;
  position: absolute;
  top: 35px;
  right: 50px;
}

.items-navigation_menu >a{
color: white;
padding: 0 30px;
text-decoration: none;
font-weight: 500;
font-family: 'Orbitron', sans-serif;
}


.main-section{
  height: 100vh;
  background-image: url("xboxonex.jpg");
  background-size: cover;
  background-position: center;
}

.text-paragraph{
  position: absolute;
  color: white;
  top: 50%;
  font-size: 1.5rem;
  margin: 0 100px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

.webdesign-description{
  font-size: 15px;
}

.container-webdesign{
  width: 50%;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  margin-top: 500px;
  padding: 10px 10px 20px 10px;
  margin-left: 350px;
  background-color: white;
  border: 1px solid green

}

.webdesign-section{
  padding: 25px 0;
    background-image: url("crash.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/* boton verde */
.button {
  background-color: withe;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  font-family: 'Orbitron', sans-serif;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid green;
}

.button:hover { background-color: green;}

/* cambio de color dentro del menu */
/*
.items-navigation_menu >a:hover{
  background-color: green;
}
 */
