body{
  margin: 0;

}
.header{

  background: black;
  color: white;
  white: 100%;
  height: 50px;


}

.navigation-drawer{
  position: fixed;
  top: 0;
  background: black;
  width: 240px;
  height: 100vh;
  color: white;
  transform: translateX(-100%);
  transition: transform 800ms ease-out;
}

.open-drawer{
  transform: translateX(0);
}

.side-drawer
{
  height: 50px;
  background: black;
  border: 0;
}

.item-nav{
  width: 60px;
  height: 5px;
  background: white;
  display: block;
  margin: 4px 0;
}

li{
  margin-top: 10px;
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  color: #818181;
  list-style:none

}
.hola{
  margin-top: 50px;
}
