


  #botones{
    text-align: center;
    margin-top: 20px;

  }
  #boton1{
 font-size: 30px;
 background-color: black;
 color: white;
   width: 300px;
  }
  #boton2{
 font-size: 30px;
 background-color: black;
 color: white;
  width: 300px;
  }
  #boton3{
 font-size: 30px;
 background-color: black;
  color: white;
   width: 300px;
  }

.div2{
background: black;

}
